{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tervetuloa Booking Calendar{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% block content %}
        {% if user.is_authenticated %}
            <p>Moi, {{ user.username }}!</p>
        {% else %}
            <p>Ei ole login</p>
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}
    {% endblock %}

    <h1>Tervetuloa Booking_calendar</h1>
    <h2>Kirjaudu sisään</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Kirjaudu</button>
    </form>
    <form class="d-flex" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-outline-light" type="submit">Kirjaudu ulos</button>
    </form>

    <h2>Rekisteröidy</h2>
    <p><a href="{% url 'register' %}">Uusi</a></p>
</body>
</html>

